$mobile: 375px;
$desktop: 1440px;

$background-color-main: #323a49;
$background-color-dark: #1f2632;
$card-background-color: #4e5d73;

$primary-text-color: #cee3e9;
$secondary-text-color: #52ffa8;

// - Dark Blue: 	#1f2632
// - Font size (quote): 28px
// ### Font
// - Family: [Manrope](https://fonts.google.com/specimen/Manrope)
// - Weights: 800
